In [1]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (23.3)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.0-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 12.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.3
    Uninstalling pip-23.3:
      Successfully uninstalled pip-23.3
Successfully installed pip-24.0

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 17.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine, MetaData

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [4]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
my_table
my_table2
runs
experiments
tags
params
metrics
alembic_version
experiment_tags
latest_metrics
registered_models
registered_model_tags
model_version_tags
model_versions
registered_model_aliases
datasets
inputs
input_tags

In [5]:
import pandas as pd
df = pd.DataFrame(
    {
        'col1':[1,2,3],
        'col2':[4,5,6]
    }
)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [6]:
df.to_sql(name = 'my_table', con=con_str)

ValueError: Table 'my_table' already exists.

In [ ]:
list_table()