In [2]:
from sqlalchemy import create_engine, MetaData
import pandas as pd

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [3]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
my_table

In [4]:
df2 = pd.DataFrame(
    {
        'col1':[100,200,300],
        'col2':[400,500,600]
    }
)
df2.to_sql(name = 'my_table2', con=con_str)

3

In [5]:
list_table()

Tables in the database:
my_table
my_table2